<!-- Commented out Lines 49 - 53 LAB 11 -->
<div>
  <ul *ngFor ="let account of acccreation let i = index">
    <li> {{account.id}}: 
      {{account.username}} 
      {{account.password}} 
      {{account.fName}} 
      {{account.lName}} 
      {{account.address}} 
      {{account.city}} 
      {{account.state}} 
      {{account.zip}} 
      {{account.email}} 
      {{account.phone}} 
      (index {{i}})
        <button mat-buttoncolor="warn"(click)="onDelete(account._id)">DELETE</button>
        <button mat-button color="accent" [routerLink]="['/editAccount', 
        account._id, 
        account.username, 
        account.password,
        account.fName,
        account.lName,
        account.address, 
        account.city, 
        account.state,
        account.zip, 
        account.phone, 
        account.email]">UPDATE</button>
      </li>
      </ul>
</div>

<!-- <div><app-new-registration-form></app-new-registration-form></div> -->