<div>

    <h3>{{mode}} Registration Form</h3>

<form (ngSubmit)="onSubmit()" #myForm="ngForm" ng-switch="mode">

      <h4>Account Information</h4>

  <div ng-switch-when="edit">
      USERNAME:
        <mat-form-field >
        <input matInput placeholder="{{username1}}" id="username" [(ngModel)]=" username" name="username" >
        </mat-form-field>
      
        PASSWORD:
        <mat-form-field >
        <input matInput placeholder="{{password1}}" id="password" [(ngModel)]=" password" name="password" >
        </mat-form-field>

       <br>
       

    <h4>Personal Information</h4>
    
    FIRST NAME:
    <mat-form-field> 
    <input matInput placeholder="{{fname1}}" id="fname" [(ngModel)]=" fname" name="fname" >
    </mat-form-field>

    LAST NAME:
    <mat-form-field >
      <input matInput placeholder="{{lname1}}" id="lname" [(ngModel)]=" lname" name="lname" >
    </mat-form-field>

    <br>
    
    <h4>Mailing Details</h4>

    ADDRESS:
    <mat-form-field>
      <input matInput placeholder="{{address1}}" id="address" [(ngModel)]=" address" name="address" >
    </mat-form-field>

    CITY:
    <mat-form-field >
      <input matInput placeholder="{{city1}}" id="city" [(ngModel)]=" city" name="city" >
    </mat-form-field>

    STATE:
    <mat-form-field>
      <input matInput placeholder="{{state1}}" id="state" [(ngModel)]=" state" name="state" >
    </mat-form-field>

    ZIP:
    <mat-form-field >
     <input matInput placeholder="{{zip1}}" id="zip" [(ngModel)]=" zip" name="zip" >
    </mat-form-field>

    <br>
    <h4>Contact Information</h4>
   
    EMAIL:
    <mat-form-field>
     <input matInput placeholder="{{email1}}" id="email" [(ngModel)]=" email" name="email" >
    </mat-form-field>

    PHONE:
    <mat-form-field >
      <input matInput placeholder="{{phone1}}" id="phone" [(ngModel)]=" phone" name="phone" >
    </mat-form-field>

  </div>
      
         
      <p>        <button type="submit" mat-raised-button color="primary">Submit</button>      </p>
</form></div>
    